body{
  background:#acdbdf;
}

.App {
  text-align: center;
  
}

.nav{
  background:black !important;
}

.vid {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%    !important;
  height: 100%   !important;
  z-index: -1;

  
}